<div id="edit-dietary-restrictions">
    <div class="container">
        <h1>User Settings - Dietary Preferences</h1>
        <hr/>
        <div class="row">
        <!--Side navbar-->
            <div class="col-sm-3 sidebar">
                <a href="/account/profile"><h5>Edit Profile</h5></a>
                <a href="/account/password"><h5>Change Password</h5></a>
                <a href="/account/dietary-preferences"><h5 class="active">Dietary Preferences</h5></a>
            </div>
            
            <div class="col-sm-9 dietary-preferences">
                <h5>Please choose your dietary preferences below. Dietary preferences
                    that have been saved in your profile will display as checked.
                </h5>
                <form method="post" action="/account/dietary-preferences">
                    <input type="checkbox" name="vegan" id="vegan" value="<%= dietaryPreferences.indexOf('vegan') != -1 ? true : false %>" <%= dietaryPreferences.indexOf('vegan') != -1 ? 'checked' : '' %>>
                    <label for="vegan">Vegan</label><br>
                    <input type="checkbox" name="vegetarian" id="vegetarian" value="<%= dietaryPreferences.indexOf('vegetarian') != -1 ? true : false %>" <%= dietaryPreferences.indexOf('vegetarian') != -1 ? 'checked' : '' %>>
                    <label for="vegan">Vegetarian</label><br>
                    <button class="btn">Save changes</button>
                </form>
            </div>
        </div>
    </div>
</div>