
<header class="container-fluid">
    <div class="row">
        <nav class="col-sm-12">
            <% if (typeof pageName == 'undefined' || pageName != 'homepage') { %>
                <a href="/"><img src="/images/chefs-logo-red.png" alt="CHEFS" class="nav-logo"/></a>
            <% } else { %>
                <a></a>
            <% } %>
            <div>
                <% if (req.session.userId) { %>
                    <a href="/community"><p>COMMUNITY</p></a>
                    <a href="/user/<%= req.session.userId %>"><p style="color: #A2AD7E;">MY PROFILE</p></a>
                <% } else { %>
                    <a href="/login"><p>LOG IN</p></a>
                    <a href="/signup"><p style="color: #A2AD7E;">SIGN UP</p></a>
                <% } %>
            </div>
        </nav>
    </div>
</header>
