<!DOCTYPE html>
<html>
<head>
    <title>Welcome to CHEFS!</title>
    <meta charset="utf-8"/>
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">-->
    <!--<link href='https://fonts.googleapis.com/css?family=Roboto:300,400,700' rel='stylesheet' type='text/css'>-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="/styles/pages/legal/welcome.css">
</head>
<body class="welcome">
<header class="container-fluid">
    <div class="row">
        <nav class="col-sm-12 text-right">
            <a href="#"><p>COMMUNITY</p></a>
            <a href="#"><p style="color: #A2AD7E;">MY PROFILE</p></a>
        </nav>
    </div>
</header>

<img src="styles/pages/legal/images/chefs-logo-red.png" alt="" class="center">

<div class="input-group">
    <input type="text" class="form-control" id="searchinput" placeholder="Search Recipes"></input>
    <div class="input-group-btn">
        <button class="btn" type="button" id="searchit">
            <i class="glyphicon glyphicon-search"></i>
        </button>
    </div>
</div>

<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="filter" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Filters
    </button>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="filter">
        <form class="px-4 py-3">
            <div class="form-group col-sm-6">
                <!--<label for="exampleDropdownFormEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleDropdownFormEmail1" placeholder="email@example.com">-->
                <label for="ingredientsInput">Add Ingredients</label>
                <input type="ingredient" class="form-control" id="ingredientsInput" placeholder="Type to search and add ingredients">
                <!--</div>
                <div class="form-group">-->
                <label for="cookingMethods">Add Cooking Methods</label>
                <input type="cookMethods" class="form-control" id="cookingMethods" placeholder="Type to search and add cooking methods">
            </div>
            <div class="col-sm-6">
                <label for="diet">Add Dietary Restrictions</label>
                <button class="btn btn-secondary dropdown-item dropdown-toggle" type="button" id="diet" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Choose dietary restrictions
                </button>
                <div class="dropdown-menu" aria-labelledby="diet">
                    <a class="dropdown-item" href="#">This</a>
                </div>
                <div>
                    <label>Add Time Restraint</label>
                </div>
                <div>
                    <select name="hrs" class="custom-select" id="hours">
                        <option selected>
                            -
                        </option>
                    </select>

                    <select name="mins" class="custom-select" id="minutes">
                        <option selected>
                            -
                        </option>
                    </select>
                </div>
            </div>
        </form>
    </div>
</div>

</body>
</html>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
