body{
    font-family: 'Open Sans', sans-serif;
    background: #E2DBD4;
}
.recipe-img{
    width:100%;
}
#search-results{
    margin: 3rem 0;
}
#keyword{
    font-weight: 300;
}
.search-box, .filter{
    border: 2px solid black;
    padding: 20px 60px;
}
.search-box{
    display: inline-block;
    width: 100%;
}
.filter{
    display: inline-block;
    width: 100%;
}
#search-bar{
    margin-top: 5rem;
    margin-bottom: 5rem;
}
/*Probs don't need to include this*/

/* Navbar */
.navbar.navbar-expand-lg.navbar-light.bg-light{
    background: white !important;
    text-transform: uppercase;
}
.navbar-light .navbar-nav .nav-link{
    color: black !important;
    padding: 1rem 1.5rem;
}
.navbar-light .navbar-nav .nav-link.profile{
    color: #A2AD7E !important;
}